<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>To-Do List</title>
</head>
<body>
    <div id="container">
            <form action="/create-task" method="post">
                <div id="task-input">
                    <button type="submit" id="btn"><i class="far fa-plus-square"></i></button>
                    <input type="text" name="name" placeholder="Create a task..." class="curve">
                    
                </div>
            </form>

        
            <ul id="task-list">
                <% for(let i of tasks){ %>
                    <li id="task-content"  class="curve">
                        <div id="delete-icon">
                             <a href="/delete-icon/?id=<%= i._id%>"><i class="fas fa-trash-alt"></i></a>
                        </div>
                        <div><p><%= i.name %></p></div>
                    </li>
                <% } %>
            </ul>

           

      

    </div>
    






    <script src="../assets/js/index.js"></script>
</body>
</html>